@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
    background-color: rgb(224, 235, 245);   
    font-family: Poiret One;
  }
  .lists {
      /*background-color: #E4D6A7;*/
      background-color: rgb(224, 235, 245);  
      font-family: Poiret One;
      border-style: solid;
  }
  .container {
    /*background-color: #E4D6A7;*/
    background-color: rgb(224, 235, 245);   
    font-family: Poiret One;
    border-style: solid;
}